<h2>Notes</h2>
<div></div>
<div style="border: 1px solid grey; hieght: 1px;"></div>

    <p id="list">
        <!-- gen list of notes here -->
    </p>

<div style="border: 1px solid grey; hieght: 1px;"></div>
<div></div>
<form action="/notes" method="post">
    <div class="col-sm-4"></div>
    <div class="row">
        <textarea name="title" id="" cols="30" rows="1"></textarea>
    </div>
    <div class="col-sm-4"></div>
    <div class="row">
        <button class="btn-primary" type="submit">Add Note</button>
    </div>
</form>






