<h1>{{title}}</h1>
<div [ngClass]="{ 'on': 8===clicked }" (click)='onClick(8)'>
    PST
</div>
<div [ngClass]="{ 'on': 7===clicked }" (click)='onClick(7)'>
    MST
</div>
<div [ngClass]="{ 'on': 6===clicked }" (click)='onClick(6)'>
    CST
</div>
<div [ngClass]="{ 'on': 5===clicked }" (click)='onClick(5)'>
    EST
</div>
<div (click)='onClick(0)'>
    Clear
</div>

today
<h2>{{today}}</h2>

localTime
<h2>{{localTime}}</h2>

timeZoneOffset (in millisecionds)
<h2>{{timeZoneOffset}}</h2>

utc
<h2>{{utc}}</h2>

<!-- result
<h2>{{result | json}}</h2> -->

output
<h2>{{output| date:'medium'}}</h2>
<h2>{{output| date:'timezone'}}</h2>
