<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="Portfolio_Contact" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="~/css/style.css"/>
    <title>Document</title>
</head>
<body>
    <main>
        <section class="nav">
            <nav>
                <a href="/">Home</a>
                <div style="border-left:1px solid #000;height:20px"></div>
                <a href="/projects">Projects</a>
                <div style="border-left:1px solid #000;height:20px"></div>
                <a href="/contact">Contact</a>
            </nav>
        </section>
        <section class="content block">
            <form action="">
                <table>
                    <tr>
                        <td>
                            <p>Name:</p>
                        </td>
                        <td>
                            <input type="text"><br>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>Email:</p>
                        </td>
                        <td>
                             <input type="text"><br>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>Message:</p>    
                        </td>
                        <td>
                            <textarea name="message" id="" cols="30" rows="10"></textarea><br>
                        </td>
                    </tr>

                </table>
                <button>Submit</button>
            </form>
        </section>
        
    </main>
</body>
</html>