<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="Rand Pass Gen" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/" method="get">
        <p>Random passcode (passcode #@ViewBag.count)</p>
        <h2 style="border: 1px solid black;">@ViewBag.passcode</h2>
        <input type="submit" name="button" id="button">
    </form>
    <form action="/reset" method="get">
        reset:<input type="submit" name="button" id="button">
    </form>
</body>
</html>