<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="Portfolio_Home" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="~/css/style.css"/>
    <title>Document</title>
</head>
<body>
    <main>
        <section class="nav">
            <nav>
                <a href="/">Home</a>
                <div style="border-left:1px solid #000;height:20px"></div>
                <a href="/projects">Projects</a>
                <div style="border-left:1px solid #000;height:20px"></div>
                <a href="/contact">Contact</a>
            </nav>
        </section>
        <section class="content">
            <h1>Davidjohn Blodgett</h1>
            <img src="http://sites.psu.edu/siowfa15/wp-content/uploads/sites/29639/2015/10/cat.jpg" alt="cat.jpg" width="500px">
            <h2>About Me:</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus cursus scelerisque placerat. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nullam non libero efficitur, facilisis ex et, vulputate nibh. In hac habitasse platea dictumst. Proin dignissim ornare lectus, in tempus ante mattis quis. Donec vestibulum sagittis metus sed tincidunt. Morbi posuere commodo risus sed tempor. Integer placerat tellus tellus, sed faucibus justo volutpat eu. Praesent ante tellus, finibus et gravida vel, condimentum eget justo. Donec vestibulum placerat turpis at venenatis. Donec in nisi ac mi sagittis faucibus sit amet ac ex. Nam finibus sed metus et dignissim. Etiam nec nulla elementum, molestie diam a, molestie velit. Quisque tincidunt eget leo eget placerat. Aliquam dapibus ipsum et ante hendrerit, in blandit dolor mollis. Nulla facilisi.</p>
        </section>
    </main>
</body>
</html>