<h1 class="row top-buffer" >Registration</h1>

<div class="row top-buffer" style="border: 1px solid grey; hieght: 1px;"></div>

@model TheWall.Models.UserVal
<form class="row top-buffer" asp-controller="Users" asp-action="Users" method="post">
    <table>
        <tr>
            <td>First Name</td><td><input asp-for="first_name"></td>
            <td><span asp-validation-for="first_name" class="error"></span></td>
        </tr>
        <tr>
            <td>Last Name</td><td><input asp-for="last_name"></td>
            <td><span asp-validation-for="last_name" class="error"></span></td>
        </tr>
        <tr>
            <td>Email Address</td><td><input asp-for="email"></td>
            <td><span asp-validation-for="email" class="error"></span></td>
        </tr>
        <tr>
            <td>Password</td><td><input asp-for="password"></td>
            <td><span asp-validation-for="password" class="error"></span></td>
        </tr>
        <tr>
            <td><button type="submit">Submit</button></td>
        </tr>
    </table>
</form>